<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.SurveyMapper">
    <select id="getSurveyByGrade" resultType="com.zb.entity.Survey">
        SELECT
            *
        FROM
            `survey`
        WHERE
            gradeId=#{gradeId}
    </select>

    <select id="getSurveyByUserId" resultType="com.zb.entity.Survey">
        SELECT
            *
        FROM
            `survey`
        WHERE
            userId=#{userId}
        ORDER BY startTime DESC
    </select>

    <select id="getSurveyBySurveyId" resultType="com.zb.entity.Survey">
        SELECT
            *
        FROM
            `survey`
        WHERE
            surveyId=#{surveyId}
    </select>

    <insert id="addSurvey">
        INSERT INTO `survey`
            (`surveyId`,
             `teacherId`,
             `gradeId`,
             `title`,
             `another`,
             `startTime`,
             `count`,
             `status`,
             `statu`)
        VALUES (#{surveyId},
                #{teacherId},
                #{gradeId},
                #{title},
                #{another},
                #{startTime},
                #{count},
                #{status},
                #{statu});
    </insert>

    <update id="updateSurEndTimeOne">
        UPDATE `survey`
        SET
          `endTime` = #{endTime}
        WHERE `surveyId` = #{surveyId};
    </update>


    <delete id="delSurveyByUserId">
        delete from survey where userId=#{userId} and surveyId=#{surveyId}
    </delete>

    <delete id="delSurveyBySurveyId">
        delete from survey where surveyId=#{surveyId}
    </delete>
</mapper>