<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.ScoreMapper">
    <select id="getUserByGradeId" resultType="com.zb.entity.User">
        SELECT
            *
        FROM
            `user`
        WHERE
            gradeId=#{gradeId}
    </select>

    <select id="getUserByUserId" resultType="com.zb.entity.User">
        SELECT
            *
        FROM
            `user`
        WHERE
            userId=#{userId}
    </select>

    <select id="getGradeByUserId" resultType="com.zb.entity.Grade">
        SELECT
            gradeId
        FROM
            `user`
        WHERE
            userId=#{userId}
    </select>
    <insert id="addScore">
         INSERT INTO `score`
            (`scoreId`,
             `teacherId`,
             `gradeId`,
             `examName`,
             `examTime`)
        VALUES (#{scoreId},
                #{teacherId},
                #{gradeId},
                #{examName},
                #{examTime});
    </insert>

    <select id="getScoreListByGradeId" resultType="com.zb.entity.Score">
        SELECT
            *
        FROM
            `score`
        WHERE
            gradeId=#{gradeId}
    </select>
    <!---->
    <update id="updateScore">
        UPDATE `score`
        SET
          `examTime` = #{examTime},
          `comment` = #{comment}
        WHERE `scoreId` = #{scoreId};
    </update>

    <update id="updateStatus">
        UPDATE `score`
        SET
          `status` = 1
        WHERE `scoreId` = #{scoreId};
    </update>

    <select id="getScoreByScoreId" resultType="com.zb.entity.Score">
        SELECT
            *
        FROM
            `score`
        WHERE
            scoreId=#{scoreId}
    </select>

    <delete id="delScore">
        delete from `score` where scoreId=#{scoreId}
    </delete>
</mapper>