<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.mapper.UserMapper">
    <select id="getUserInfoByUserName" resultType="com.zb.pojo.UserInfo">
        SELECT * FROM xhb_user WHERE username=#{username}
    </select>
    <select id="getTeacherInfo" resultType="com.zb.pojo.TeacherInfo">
        SELECT * FROM teacherinfo WHERE phone=#{phone}
    </select>
    <insert id="addUser" parameterType="com.zb.pojo.UserInfo">
        INSERT INTO xhb_user
            (id,
            username,
            password,
            codeType,
            phone,
            status,
            create_time,
            update_time
            )
            VALUES
            (#{id},
            #{username},
            #{password},
            #{codeType},
            #{phone},
            '1001',
            NOW(),
            NOW()
            )
    </insert>
    <insert id="addTeacher" parameterType="com.zb.pojo.TeacherInfo">
        INSERT INTO teacherinfo
            (id,
            userId,
            phone,
            createTime,
            updateTime,
            status
            )
            VALUES
            (#{id},
            #{userId},
            #{phone},
            NOW(),
            NOW(),
            '2001'
            )
    </insert>
    <update id="updateUserInfo" parameterType="com.zb.pojo.UserInfo">
        update xhb_user
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="username != null and username!=''">
                username=#{username},
            </if>
            <if test="password != null and password!=''">
                password=#{password},
            </if>
            <if test="name != null and name!=''">
                name=#{name},
            </if>
            <if test="schoolname != null and schoolname!=''">
                schoolname=#{schoolname},
            </if>
            <if test="userpic != null and userpic!=''">
                userpic=#{userpic},
            </if>
            <if test="codeType != null and codeType!=''">
                codeType=#{codeType},
            </if>
            <if test="phone != null and phone!=''">
                phone=#{phone},
            </if>
            update_time=NOW(),
            <if test="status != null and status!=''">
                status=#{status}
            </if>
        </trim>
    </update>
    <update id="updateTeacherInfo" parameterType="com.zb.pojo.TeacherInfo">
        update teacherinfo
        <trim prefix="set" suffixOverrides="," suffix="where userId=#{userId}">
            <if test="teacherName!= null and teacherName!=''">
                teacherName=#{teacherName},
            </if>
            <if test="phone!= null and phone!=''">
                phone=#{phone},
            </if>
            <if test="schoolname!= null and schoolname!=''">
                schoolname=#{schoolname},
            </if>
            <if test="inviteCode!= null and inviteCode!=''">
                inviteCode=#{inviteCode},
            </if>
            updateTime=NOW(),
            <if test="status != null and status!=''">
                status=#{status}
            </if>
        </trim>
    </update>
    <select id="getUserInfoById" resultType="com.zb.pojo.UserInfo">
        SELECT * FROM xhb_user WHERE id=#{id}
    </select>
    <insert id="addTeacherJob" parameterType="com.zb.pojo.TeacherJob">
        INSERT INTO teacherinfo
            (jobId,
            jobday,
            amhourstart,
            amminstart,
            amhourend,
            amminend,
            pmhourstart,
            pmminstart,
            pmhourend,
            pmminend,
            teacherId
            )
            VALUES
            (#{jobId},
            #{jobday},
            #{amhourstart},
            #{amminstart},
            #{amhourend},
            #{amminend},
            #{pmhourstart},
            #{pmminstart},
            #{pmhourend},
            #{pmminend},
            #{teacherId}
            )
    </insert>
</mapper>