<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.NotDocumentMapper">
    <insert id="addDocument">
        INSERT INTO `notdocument`
            (`documentId`,
             `functionId`,
             `documentSrc`)
        VALUES (#{documentId},
                #{functionId},
                #{documentSrc});
    </insert>
    
    <select id="getDocumentByNId" resultType="com.zb.entity.NotDocument">
        SELECT
            *
        FROM
            `notdocument`
        WHERE
            functionId=#{functionId}
    </select>
</mapper>