<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.NotPicMapper">
    <insert id="addNotPic">
        INSERT INTO `issue`.`notpic`
            (`picId`,
             `functionId`,
             `picSrc`,
             `statu`)
        VALUES (#{picId},
                #{functionId},
                #{picSrc},
                #{statu});
    </insert>

    <select id="getPicCount" resultType="int">
        SELECT
            COUNT(1)
        FROM
            `notpic`
        WHERE
            functionId=#{functionId}
    </select>
</mapper>