<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.StuCommentMapper">
    <!---->
    <insert id="addComment">
        INSERT INTO `issue`.`stucomment`
            (`commentId`,
             `scoreId`,
             `numberId`,
             `comment`,
             `sum`)
        VALUES (#{commentId},
                #{scoreId},
                #{numberId},
                #{comment},
                #{sum});
    </insert>
    <select id="getCommentByScoreId" resultType="com.zb.entity.StuComment">
        select
            *
        from
            `stucomment`
        where
            scoreId=#{scoreId}
    </select>

    <select id="getCommentByScoreIdOne" resultType="com.zb.entity.StuComment">
        select
            *
        from
            `stucomment`
        where
            scoreId=#{scoreId}
        ORDER BY `sum` DESC
    </select>

    <update id="updateStuComment">
        UPDATE `stucomment`
        SET
          `sort` = #{sort}
        WHERE `commentId` = #{commentId};
    </update>

    <update id="updateStuCommentSum">
        UPDATE `stucomment`
        SET
          `sum` = #{sum}
        WHERE `commentId` = #{commentId};
    </update>

    <select id="getCommentByScoreAndNumberId" resultType="com.zb.entity.StuComment">
        SELECT
            *
        FROM
            `stucomment`
        WHERE
            scoreId=#{scoreId}
        AND
            numberId=#{numberId}
    </select>
    
    <delete id="delCommentByScoreId">
        delete from stucomment where scoreId=#{scoreId}
    </delete>
</mapper>